/* Add application styles & imports to this file! */
body {
  background-color: white;
}
h1 {
  color: black;
  text-align:left;
}
h2 {
  background-color:rgb(200,200,200);
  padding-left: 10px;
}

h4 {
  text-align:center;
  color: red;
  border-style: outset;
  margin-top: 0px;
}
h5.tagline {
  background-color:black;
  color:white;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
p {
  font-family: verdana;
  font-size: 12px;
  margin: 10px;
}
p.main-menu {
  font-family: verdana;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
  line-height: 1.8;
}
table.main-menu {
  width: 100%;
  background-color: darkblue;
  margin-top:20px;
}
tr.main-menu:hover {
  background-color: gray;
}
td.main-menu {
  font-weight: bold;
  font-family: verdana;
  color: white;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
  line-height: 1.8;
  padding-left:5px;
}
ul {
  font-family: verdana;
  font-size: 12px;
}
div.tagline {

}
div.headersection {
  width: 100%;
  padding: 10px;
  border: 0;
  margin: 0;
}
div.main-container {
  overflow: auto;
  width: 100%;
  padding: 2px;
  border: 2px solid white;
  margin: 0;
}
div.body {
  float: left;
  width: 80%;
  padding: 10px;
  border: 2px solid white;
  margin: 0;
}
div.main-menu {
  float: left;
  padding: 0px 0px 0px 10px;
  border: 2px solid white;
  margin: 0;
}
div.footer {
  background-color: lightgrey;
  width: 100%;
  padding: 5px;
  border: 0;
  margin: 0;
}
#contact {
  text-align: center;
}


p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}