/* Add application styles & imports to this file! */
body {
  background-color: white;
}
h1 {
  color: black;
  text-align:left;
  
}
h2 {
  background-color:rgb(200,200,200);
  padding-left: 10px;
}

h4 {
  text-align:center;
  color: red;
  border-style: outset;
  margin-top: 0px;
}
h5 {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
p {
  font-family: verdana;
  font-size: 12px;
  margin: 10px;
}
ul {
  font-family: verdana;
  font-size: 12px;
}
#contact {
  text-align: center;
}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}